################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DeveloperTest
/DeveloperTest/bin/Debug/netcoreapp3.1
/DeveloperTest/obj
/ui/node_modules
